#news {
height: 1200px;
}
#magazine {
height: 1000px;
background-color: red;
}
.header {
    background-color: #fff;
}
.headlinecontainerr{
    width: 100%;
    overflow: auto;
}
.headnewsdata{
    width: 30%;
    float: left;

}
.headlinecontainerr{
    background-color: #fff;
}
h2{

    text-align: center;
    padding: 20px;
}
.containerr {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: green;

}
.row-2 {
    width: 45%;
    float: left;
    padding: 5px;
    height: 150px;

}

.row-3 {
    width: 25%;
    float: left;
    padding: 5px;
    height: 150px;

}
.leftside {
    background-color: #fff;
    float: left;
}
.rightside {easyslider
    background-color: #fff;
    float: right;
}
.newsdata{
 width: 100%;
 background-color: #fff;
 align-items: center;
 justify-content: center;
}
.mainnewsdata{
 width: 100%;
 background-color: #fff;
}
.newsword{
}
.heading{
    color: red;
}
.para{
    background-color: grey;
}
.mainnewsdiv{
width: 100%;
height: 100%
background-color: #000;
padding-left: 20px;
    align-items: center;
    justify-content: center;

}
.mainnewsimg{
    width: 100%;
}
.mainnewshead{
width: 100%;
color: red;
top: 30px;
}
.mainnewspara{
width: 100%;
top: 30px;
}
